{% extends 'base.html.twig' %}

{% block title %}Hello RoomController!{% endblock %}

{% block body %}
    <h2>{{ hotelName }}</h2>
    {% for room in roomsList %}

        <div class="row">
            <div class="col-3 ml-5">
                <img src="{{ room.img }}" class="img-fluid">
            </div>
            <div class="col-7 bg-light border border-info">
                <h4 ><strong>ID: {{ room.id }}</strong></h4>
                <p>Le Five Palm Jumeirah Dubai allie avec harmonie
                    un style architectural contemporain et un service
                    unique et intuitif pour vous garantir un séjour
                    incomparable et inoubliable.</p>
                <div class="btn btn-secondary text-white">{{ room.price }}€ / Nuit</div>
                <button class="btn btn-primary float-right">Reserver</button>
            </div>

        </div>
        <hr>

    {% endfor %}


{% endblock %}
